$medium-up: "only screen and (min-width: 750px)";
$medium-down: "only screen and (max-width: 750px)";

// 1046
// 750
$Blue: #18c5cc;
$orange: #f86942;
$white: #ffffff;
$black: #000000;

//
* {
  margin: 0 2rem;
}

.flex {
  display: flex;
}

.photo {
  height: 25rem;
  width: 25rem;
  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
}

.box-1 {
  height: 50rem;
  background-color: $Blue;
  color: white;
  width: 20rem;

  h2 {
    display: inline-block;
  }

  h3 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding-top: 5rem;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  p {
    line-height: 2.4rem;
  }
}

.box-2 {
  display: flex;
  flex-direction: row;
}

.box-3 {
  display: flex;
  flex-direction: row;
}
