$medium-up: "only screen and (min-width: 750px)";
$medium-down: "only screen and (max-width: 750px)";

// 1046
// 750
$Blue: #18c5cc;
$orange: #f86942;
$white: #ffffff;
$black: #000000;

//
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px (10px/16px = 62.5%)
}

.photo {
  display: inline-block;
}
