#main {
  display: flex;
  flex-direction: column;
  background-color: white;
  /* margin-top: 130px; */
  height: 100vh;
}

body {
  height: 100vh;
  width: 75%;
  margin: auto;
  background-image: url(/Cours_DigitalCity_JSfullStack/HTML/Exercises/images/e30009a3602f8cbfab5cfa0c873509ad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#picsou {
  float: left;
  width: 50%;
}

#cv {
  float: right;
  width: 50%;
  margin-top: 60px;
}

h1 {
  color: #f8d76b;
  font-size: 60px;
  text-shadow: 1px 1px 2px pink;
  margin-bottom: 0;
  text-align: center;
  /* text-shadow: 20px 20px 20px, #f8d76b; */
}

h2 {
  font-size: 25px;
  margin-top: 0;
  margin-left: 80px;
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  background-color: rgba(206, 206, 103, 0.4);
  text-align: center;
  border: solid 1px rgba(145, 145, 18);
}

span {
  font-style: italic;
  color: #f8d76b;
  margin-top: 20px;
}

p {
  margin: 5px 0 5px 15px;
}

.btnContact {
  display: flex;
}

.lienContact {
  background-color: rgba(206, 206, 103, 0.4);
  margin: auto;
  width: 15rem;
  margin-bottom: 2rem;
}

.experience {
  border: solid 1px rgb(145, 145, 18);
  width: 65%;
  margin: auto;
}

.competences {
  margin: 40px auto;
  border: solid 1px rgb(145, 145, 18);
  width: 65%;
}

.formation {
  margin: 40px auto;
  border: solid 1px rgb(145, 145, 18);
  width: 85%;
}

img {
  width: 40%;
  margin-left: 140px;
  margin-top: 0px;
}

ul {
  margin: 0;
}

li {
  list-style: circle;
}

/* // formulaire */
.contact {
  margin-top: 5rem;
}

fieldset {
  margin-bottom: 0.5rem;
}

.form__name,
.form__tel {
  width: 48%;
}

.form__firstname,
.form__gsm {
  margin-left: 1rem;
  width: 48%;
}

.form__mail {
  width: 98%;
  margin-bottom: 0.5rem;
}

.form__textarea {
  width: 85%;
  margin-left: 1rem;
  height: 3.5rem;
}

.button__envoyer {
  width: 47%;
  background-color: rgba(206, 206, 103, 0.4);
  border: solid 1px;
}

.button__reset {
  width: 47%;
  margin-left: 5%;
  background-color: rgba(206, 206, 103, 0.4);
  border: solid 1px;
}

.button__retourCV {
  width: 100%;
  background-color: rgba(206, 206, 103, 0.4);
  border: solid 1px;
}

select {
  vertical-align: top;
}

/* /// Tableaux  */

.tableaux {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: black;
  padding: 3rem;
  display: flex;
  width: auto;
}

.titre1 {
  background-color: black;
  color: white;
  font-size: 40px;
  /* border: solid 1px white; */
}

.bordure {
  border: solid 5px white;
}

.C {
  vertical-align: bottom;
}

.A {
  background-color: green;
  vertical-align: top;
  border: 10px solid red;
  margin-bottom: 0;
  text-align: left;
  vertical-align: bottom;
}

.B {
  background-color: yellow;
  vertical-align: top;
  border: 10px solid red;
}

table {
  width: 50rem;
  background-color: red;
  height: 20rem;
  text-align: center;
  /* border: solid 10px white; */
}

.yellow {
  /* background-color: yellow; */
  border: 10px solid red;
}

.blue {
  background-color: aqua;
  border: 10px solid red;
}

/* tablo3 */

.tablo3 {
  width: 100%;
  margin: auto;
}

.green3 {
  background-color: green;
  border: 5px solid rgb(129, 192, 129);
}

.yellow3 {
  background-color: yellow;
  border: 5px solid rgb(129, 192, 129);
}

.pink3 {
  background-color: pink;
  border: px solid green;
}

.blue3 {
  background-color: aquamarine;
  border: 5px solid rgb(129, 192, 129);
}

td {
  border: 5px solid rgb(129, 192, 129);
}

/* 
Mediaqueries */

@media (max-width: 768px) {
  body {
    height: 100vh;
    width: 100%;
    margin: auto;
    background-image: none;
  }

  #cv {
    width: 100%;
    margin-top: 60px;
  }

  #picsou {
    float: center;
    width: 100%;
  }

  .formation {
    width: 65%;
    margin-top: 0;
  }
}
